*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header{
    background: rgb(134, 192, 215);
    color: white;
    height: 80px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}
.logo a {
    text-transform: uppercase;
}
.logo{
    color: white;
    text-decoration: none;
}
.navbar{
    background: rgb(13, 6, 118);
    color: white;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}
.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    }

    .navbar ul li a:hover{
        background: white;
        color: rgb(13, 6, 118);
    }
    . banner-top{ 
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    #contenedor{ 
        width: 90%;
        margin: 0, auto;
        display: flex;
        justify-content: space-around;
    }
#contenedor img{
    width: 100%;
}
.primero{
    padding: 2%
    }
.segundo{
    padding: 2%;
}
.tercero{
    padding: 2%
}
.footer{
    margin-top: 25px;
    background: white;
    display: flex;
    justify-content: space-around;
}
.data{
    background: rgb(15, 138, 154);
    color: black;
    list-style: none;
    margin-top: 10px;
}
.map{
    width: 60%;
    margin-top: 10px;
    border: solid black;
}
@media screen and (min-width: 660px) and (max-width:989)
{
    .body{
        background: yellow;}
    }

@media screen and (min-width: 990px) and (max-width: 1900px)
{
    .body{
        background: rgb(42, 170, 221);}
    }